




<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>

<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">Word Count</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'about'%}">About <span class="sr-only">(current)</span></a>
        </li>

      </ul>

    </div>
  </nav>
  <div class="jumbotron" >


  <hr> <h2>There are {{ count }} words in your text</h2><hr>
    <h1>your text:</h1>

    {{ fulltext }}
    <hr color="#2bcce5">
    <h4> Word Repetition Count: <a href="{% url 'home'%}">Start Again</a></h4>
    <hr color="#2bcce5">
  {% for word,counttotal in  sortedwords %}

  <table class="table table-sm col-md-2">
  <thead class="thead active">
    <tr>
      <th style="text-align:left"><h4 class="font-weight-bold">{{ word }}</h4></th>
      <th style="text-align:right"><h4 class="font-weight-bold">{{ counttotal }}</h4></th>
    </tr>
  </thead>
    </table>

          <br>

    {%endfor%}

  </body>


  </body>
</html>
